li:hoover{ background-color: black;

}



a:hover {background:#dfdfdf;

}
.wh{
    background-color:white;
    position:relative;
    margin-top:30px;
    display:none;
}

    .ch:hover .wh{
        display: block;
    }

.cardservices:hover{
    background: black;
    color: white;
}