
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,400&display=swap');

 *{
    margin:0;
    font-family:"Rubik";
   
}

ul{
    list-style:none;}
li{
    display: inline-block;
}
a{
    text-decoration:none;
    color:black;
    
}
.col-4 img{
    width:100%;
}
/*header*/

.header{
    
     background-color: #f2f2f2;
     position: fixed;
     width:100%; 
}
.contenth{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items: center;
}

.nav{ display:flex;
}

.spacel{margin-left:20px;
    text-transform: uppercase;

}

/*section principal */
.section-principal{
    min-height:100vh;
    background-color:#f2f2f2 ;
    display:flex;
    justify-content:center ;
    align-items:center;
    text-align: center;   
}

.text1{
    font-size:70px ;
    font-weight:400;
}
.subt{
    font-size:22px ;
    padding-top:15px;
}
.servicios{
margin-top:-160px;
}
.contenido {
    display: flex;
text-align:center;
justify-content: center;
align-items: center;
flex-direction: column;
}
.text2{ font-size:30px;
    font-weight:300;
    padding:10px;
    text-align: center;
}

.p2{
    padding:10px;

}
.p3{
    padding:20px;
}
.contentimg{
 padding: 20px;
}

.buton{
    border:1px solid grey;
    padding:10px 60px;
    margin-bottom:20px;
    
}
.testimonial{
    background-color: #f2f2f2;
}

.gray1{
    background-color: #f2f2f2;
    height:100px;
}
.tree{
    background-color: #111111;
    height:200px;
    display: flex;
    justify-content: space-between 20px;
    
}
.last {height:40px;
    background-color:#1d1d1d;
    display: flex;
    color: teal;

}
.nav2{
    margin-left:800px;
}
.lh{
line-height:25.5px;
}
/*lineheight letter spacing /*